<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quest Store Mentor</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" type="text/css" href="http://localhost:63342/QuestStore/static/css/mainStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Quantico:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c5e394a33c.js" crossorigin="anonymous"></script>
</head>

<body>
<nav class="navbar navbar-expand-sm navbar-light bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="showMentors.twig">SHOW MENTORS <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="addMentor.twig">ADD MENTOR</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="editMentor.twig">EDIT MENTOR</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="removeMentor.twig">REMOVE MENTOR</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="CreepMainPage.twig">HOME PAGE</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" href="#">Example</a>
                    <a class="dropdown-item" href="#">Inventory</a>
                </div>
            </li>
        </ul>
    </div>
</nav>


<div id="front">
    <table style="width: 100%">
        <tr>
            <th>ID</th>
            <th>Login</th>
            <th>Password</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        {% for mentor in mentorList %}
            <tr>
                <td>{{ mentor.id }}</td>
                <td>{{ mentor.login }}</td>
                <td>{{ mentor.password }}</td>
                <td>{{ mentor.firstname }}</td>
                <td>{{ mentor.lastname }}</td>
            </tr>
        {% endfor %}
    </table>
    <form method="POST">
        <div class="form-group">
            <label for="userId">Identification number</label>
            <input type="text" id="userId" name="userId" placeholder="Type id...">
        </div>
        <div class="form-action">
            <button type="submit" class="btn btn-primary text-center">Delete Mentor</button>
        </div>

    </form>

</div>
</body>
<footer>

</footer>
